.DS_Store
*.swp
*.lock
profile
*~.nib
DerivedData/
build/

xcode/build/ThingsOnThings.build/Debug/ThingsOnThings.build/Objects-normal/i386/List.d

xcode/build/ThingsOnThings.build/Debug/ThingsOnThings.build/Objects-normal/i386/List.o

xcode/build/Debug/ThingsOnThings.app/Contents/MacOS/ThingsOnThings

*.dat

*.dat

xcode/build/Debug/ThingsOnThings.app/Contents/MacOS/ThingsOnThings

xcode/build/ThingsOnThings.build/Debug/ThingsOnThings.build/Objects-normal/i386/ThingsOnThings.LinkFileList

xcode/build/ThingsOnThings.build/Debug/ThingsOnThings.build/Objects-normal/i386/ThingsOnThingsApp.d

xcode/build/ThingsOnThings.build/Debug/ThingsOnThings.build/Objects-normal/i386/ThingsOnThingsApp.o

xcode/build/ThingsOnThings.build/Debug/ThingsOnThings.build/ThingsOnThings-project-headers.hmap

xcode/build/ThingsOnThings.build/Debug/ThingsOnThings.build/ThingsOnThings.hmap

xcode/build/ThingsOnThings.build/Debug/ThingsOnThings.build/ThingsOnThings.dep

xcode/build/ThingsOnThings.build/Debug/ThingsOnThings.build/build-state.dat

xcode/ThingsOnThings.xcodeproj/project.xcworkspace/xcuserdata/brandonsonoda.xcuserdatad/UserInterfaceState.xcuserstate

xcode/ThingsOnThings.xcodeproj/project.pbxproj
